%h4
  = flash[:notice]
  = flash[:alert]
  
#consume_phone_number_region
  = simple_form_for(current_account, :url => settings_path) do |f|
    = f.error_messages
    %br
    %p
      API version: #{current_account.api_version}
    %div.yui3-g
      %div.yui3-u-1-4
        = f.label :twitter_consumer_key
        = f.text_field :twitter_consumer_key
      %div.yui3-u-1-4
        = f.label :twitter_consumer_secret
        = f.text_field :twitter_consumer_secret
      %div.yui3-u-1-4
        = f.label :twitter_oauth_token
        = f.text_field :twitter_oauth_token
      %div.yui3-u-1-4
        = f.label :twitter_oauth_token_secret
        = f.text_field :twitter_oauth_token_secret
      %div.yui3-u-1-4
        = f.label :api_host
        = f.text_field :api_host
      %div.yui3-u-1-4
        = f.label :object_field
        = f.text_field :object_field
    %div.yui3-g
      %div.yui3-u-1-4
        %br
        = link_to "Setup outgoing tweets", main_app.account_tweet_options_path(current_account)
        %br
        = f.button :submit, "Update Account"